h1 {
  color: #d23370;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

body {
  background-color: #253d73;
}

p {
  color: #d23370;
  font-size: 30px;
  margin-bottom: 70px;
}

li {
  color: #d23370;
  font-size: 20px;
  margin-bottom: 30px;
}

.thumbs-up {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
